<h1>
  Random Results
</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%=@a/10000%>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%=@b/10000%>
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    <%=@c.round(6)%>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>