<h1>Square Calculation</h1>
<div>
<form action="/square/results">
    <div>
    <label>
        
        Enter a Number
    </label>
    <input type="text" name="the_user_number">
    </div>
    <button>Calculate</button>
</div>
</form>